
@model DemoProc.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="text" style="background-color:blanchedalmond">
<h1 style="color:deeppink">Employee Crud Operations</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" 
                asp-area="" 
                asp-controller="Employee"
                asp-action="AddUpdateEmployee">
            
          @*  @Html.AntiForgeryToken()*@
                <input type="hidden" id="Id" name="Id"/>

              <div class="row mb-3">
                    <div class="col-12"><label for="firstName" style="color:darkmagenta; font-weight:bold;">First Name</label></div>
                    <div class="col-12"><input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter your first name" /></div>
              </div> 
                <div class="row mb-3">
                    <div class="col-12"><label for="lastName" style="color:darkmagenta; font-weight:bold;">Last Name</label></div>
                    <div class="col-12"><input type="text" class="form-control" name="last_name" id="last_name" placeholder="enter last Name"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-12"><label for="department" style="color:darkmagenta; font-weight:bold;">Deapartment</label></div>
                    <div class="col-12"><input type="text" class="form-control" name="department" id="department" placeholder="enter department name"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                 </div>
                       
            </form>
            @*<form method="post" asp-area="" asp-controller="Employee" asp-action="AddUpdateEmployee">
               @Html.AntiForgeryToken()
                <input type="hidden" id="Id" name="Id" />

                <div class="row mb-3">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" />
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter your last name" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <label for="department">Department:</label>
                        <input type="text" class="form-control" name="department" id="department" placeholder="Enter department name" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>*@
          

        </div>
        <div class="col-md-6">
            @{
                @if (TempData["SuccessMsg"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMsg"]
                    </div>
                }
                 
                if (TempData["ErrorMsg"] != null)
                {
                    <h2 class="bg-danger">@TempData["ErrorMsg"]</h2>
                }
            }
        </div>
     
    </div>

</div>


<h1 style="color:darkorange">Employee Details</h1>
<div class="container" >
    <table class="table table-bordered" >
        <tr style="color:darkmagenta;">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Deapartment</th>
            <th>Action</th>
      
            
        </tr>
        @{
        
            if (Model.EmployeesList!= null && Model.EmployeesList.Count > 0)
            {
                foreach (var employee in Model.EmployeesList)
                {
                    <tr style="color:darkblue; ">
                        <td>@employee.Id</td>
                        <td>@employee.first_name</td>
                        <td>@employee.last_name</td>
                        <td>@employee.department</td>

                        <td>
                                <a onclick="Delete('@employee.Id')" style="cursor:pointer; color:red; font-weight:bold; background-color:lightyellow">DELETE</a> &nbsp;&nbsp;&nbsp;
                                <a onclick="Update('@employee.Id','@employee.first_name','@employee.last_name' ,'@employee.department')" style="cursor:pointer; color:gold;font-weight:bold;background-color:lightyellow">EDIT</a>

                        </td>
                      
                        
                    </tr>

                }

            }
        }
    </table>
</div>
</div>
<script type="text/javascript">
 function Delete(Id) 
 {
    let response=confirm("Do you want to delete this record");

        if(response){
            $.ajax({
                type:"Post",
                    url: '@Url.Action("DeleteEmployee","Employee")',
                    data:{Id:Id},

                    success:function(response){
                        if (response.message == "deleted successfully"){
                            window.location.reload();
                        }
                        else{
                            alert(response.message);
                        }
                    },
                    complete:function(){},
                        failure:function(jqXHR, textStatus,errorThrow){
                            alert("Error ocured: please try again ");
                       }
            });
        }
    
 }
 function Update(Id,first_name,last_name,department)
 {
        $('#Id').val(Id);
        $('#first_name').val(first_name);
        $('#last_name').val(last_name);
        $('#department').val(department);
 }
</script>  
      
  